<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- Responsive mobile -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

<title>FaceAfeka</title>

<!-- Bootstrap core CSS -->
<link href="css/bootstrap.css" rel="stylesheet">

<!-- Import font-awesome -->
<link href="css/font-awesome.css" rel = "stylesheet">

<!-- Own CSS -->
<link href="css/style.css" rel = "stylesheet">