<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head %>
  </head>

  <body>

    <header>
        <% include ./partials/header %>
    </header>

    <% include ./partials/navbar %>

    <!-- <% include ./partials/searchDropdown %> -->
    <!-- Section -->
    <section>
        <div class = "container">
            <div class = "row">
              <div class="col-md-8">
                <h1 class ="page-header">Friends</h1>
                <div class="members">
                </div> <!-- ENDof Members -->
              </div> <!-- ENDof Col-md-8 -->
              <div class = "col-md-4">
              </div> <!-- ENDof Col-md-4 -->
            </div> <!--ENDof Row -->
        </div> <!--ENDof Container -->
    </section>
    </br></br></br></br></br></br></br></br>
    <!-- Footer -->
    <% include ./partials/footer %>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <% include ./partials/scripts %>
    <script src="js/friends_cnt.js"></script>
  </body>
</html>
