<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head %>
  </head>

  <body>

    <header>
        <% include ./partials/header %>
    </header>

    <% include ./partials/navbar %>

    <% include ./partials/searchDropdown %>
   <!-- Section -->
      <section>
          <div class = "container">
              <div class = "row">

                  <div class = "col-md-8">
                      <div class = "members">
                          <h1 class = "page-header">Friends</h1>

                          <!-- Member 01 -->
                          <div class = "row member-row">
                              <div class = "col-md-3">
                                  <img src = "img/user.png" class = "img-thumbnail">
                                  <div class = "text-center">Some user01</div>
                              </div>

                              <div class = "col-md-3">
                                  <p><a href = "#" class = "btn btn-success btn-block"><i class = " fa fa-users"></i> Add Friend</a>
                                  </p>
                              </div>

                              <div class = "col-md-3">
                                   <p><a href = "#" class = "btn btn-default btn-block"><i class = " fa fa-envelope"></i> Send Message</a>
                                  </p>
                              </div>

                              <div class = "col-md-3">
                                  <p><a href = "#" class = "btn btn-primary btn-block"><i class = " fa fa-edit"></i> View Profile</a>
                                  </p>
                              </div>
                          </div> <!-- ENDof member-row -->

                            <!-- Member 02 -->
                          <div class = "row member-row">
                              <div class = "col-md-3">
                                  <img src = "img/user.png" class = "img-thumbnail">
                                  <div class = "text-center">Some user02</div>
                              </div>

                              <div class = "col-md-3">
                                  <p><a href = "#" class = "btn btn-success btn-block"><i class = " fa fa-users"></i> Add Friend</a>
                                  </p>
                              </div>

                              <div class = "col-md-3">
                                   <p><a href = "#" class = "btn btn-default btn-block"><i class = " fa fa-envelope"></i> Send Message</a>
                                  </p>
                              </div>

                              <div class = "col-md-3">
                                  <p><a href = "#" class = "btn btn-primary btn-block"><i class = " fa fa-edit"></i> View Profile</a>
                                  </p>
                              </div>
                          </div> <!-- ENDof member-row -->

                            <!-- Member 03 -->
                          <div class = "row member-row">
                              <div class = "col-md-3">
                                  <img src = "img/user.png" class = "img-thumbnail">
                                  <div class = "text-center">Some user03</div>
                              </div>

                              <div class = "col-md-3">
                                  <p><a href = "#" class = "btn btn-success btn-block"><i class = " fa fa-users"></i> Add Friend</a>
                                  </p>
                              </div>

                              <div class = "col-md-3">
                                   <p><a href = "#" class = "btn btn-default btn-block"><i class = " fa fa-envelope"></i> Send Message</a>
                                  </p>
                              </div>

                              <div class = "col-md-3">
                                  <p><a href = "#" class = "btn btn-primary btn-block"><i class = " fa fa-edit"></i> View Profile</a>
                                  </p>
                              </div>
                          </div> <!-- ENDof member-row -->

                            <!-- Member 04 -->
                          <div class = "row member-row">
                              <div class = "col-md-3">
                                  <img src = "img/user.png" class = "img-thumbnail">
                                  <div class = "text-center">Some user04</div>
                              </div>

                              <div class = "col-md-3">
                                  <p><a href = "#" class = "btn btn-success btn-block"><i class = " fa fa-users"></i> Add Friend</a>
                                  </p>
                              </div>

                              <div class = "col-md-3">
                                   <p><a href = "#" class = "btn btn-default btn-block"><i class = " fa fa-envelope"></i> Send Message</a>
                                  </p>
                              </div>

                              <div class = "col-md-3">
                                  <p><a href = "#" class = "btn btn-primary btn-block"><i class = " fa fa-edit"></i> View Profile</a>
                                  </p>
                              </div>
                          </div> <!-- ENDof member-row -->

                      </div> <!-- ENDof Members -->
                  </div> <!-- ENDof Col-md-8 -->

                   <div class = "col-md-4">

                  </div> <!-- ENDof Col-md-4 -->

              </div> <!--ENDof Row -->

          </div> <!--ENDof Container -->
      </section>
    </br></br></br></br></br></br></br></br>
      <!-- Footer -->
        <% include ./partials/footer %>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <% include ./partials/scripts %>
    <script src="js/friends_cnt.js"></script>
  </body>
</html>
