<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head %>
  </head>

  <body>

    <header>
      <% include ./partials/header %>
    </header>

    <% include ./partials/navbar %>

    <% include ./partials/searchDropdown %>

   <!-- Section -->
      <section>
          <div class = "container">
              <div class = "row">

                  <div class = "col-md-8">
                      <div class = "groups">
                          <h1 class = "page-header">Groups</h1>
                          <!-- Group 1 -->
                          <div class = "group-item">
                              <img src = "img/group.png">
                              <h4><a href = "#">Sample Group 1</a></h4>
                              <p>This is a sample Dobble Social Network group</p>
                              <p><a href = "#" class = "btn btn-default">Join Group</a></p>
                          </div> <!-- ENDof Group-item -->

                          <div class = "clearfix"></div>
                          <!-- Group 2 -->
                           <div class = "group-item">
                              <img src = "img/group.png">
                              <h4><a href = "#">Sample Group 2</a></h4>
                              <p>This is a sample Dobble Social Network group</p>
                              <p><a href = "#" class = "btn btn-default">Join Group</a></p>
                          </div> <!-- ENDof Group-item -->

                          <div class = "clearfix"></div>

                            <!-- Group 3 -->
                           <div class = "group-item">
                              <img src = "img/group.png">
                              <h4><a href = "#">Sample Group 3</a></h4>
                              <p>This is a sample Dobble Social Network group</p>
                              <p><a href = "#" class = "btn btn-default">Join Group</a></p>
                          </div> <!-- ENDof Group-item -->

                          <div class = "clearfix"></div>

                            <!-- Group 4 -->
                           <div class = "group-item">
                              <img src = "img/group.png">
                              <h4><a href = "#">Sample Group 4</a></h4>
                              <p>This is a sample Dobble Social Network group</p>
                              <p><a href = "#" class = "btn btn-default">Join Group</a></p>
                          </div> <!-- ENDof Group-item -->

                          <div class = "clearfix"></div>


                      </div> <!-- ENDof Group -->
                  </div> <!-- ENDof Col-md-8 -->

                   <div class = "col-md-4">

                    <div class="panel panel-default friends">
                      <div class="panel-heading">
                        <h3 class="panel-title">My Friends</h3>
                      </div>
                      <div class="panel-body">
                        <ul>
                            <li><a class = "thumbnail" href = "profile.html"><img src = "img/user.png"></a>
                            </li>
                             <li><a class = "thumbnail" href = "profile.html"><img src = "img/user.png"></a>
                            </li>
                             <li><a class = "thumbnail" href = "profile.html"><img src = "img/user.png"></a>
                            </li>
                             <li><a class = "thumbnail" href = "profile.html"><img src = "img/user.png"></a>
                            </li>
                             <li><a class = "thumbnail" href = "profile.html"><img src = "img/user.png"></a>
                            </li>
                             <li><a class = "thumbnail" href = "profile.html"><img src = "img/user.png"></a>
                            </li>
                             <li><a class = "thumbnail" href = "profile.html"><img src = "img/user.png"></a>
                            </li>
                             <li><a class = "thumbnail" href = "profile.html"><img src = "img/user.png"></a>
                            </li>
                        </ul>
                        <div class = "clearfix"></div>

                        <a class = "btn btn-primary" href = "#">View All Friends</a>
                      </div>
                    </div>

                    <div class="panel panel-default groups">
                      <div class="panel-heading">
                        <h3 class="panel-title">Latest Groups</h3>
                      </div>
                      <div class="panel-body">
                        <div class = "group-item">
                            <img src = "img/group.png">
                            <h4><a href = "#">Sample Group One</a></h4>
                            <p>This is a Dobble Social Network sample groups</p>
                        </div>
                        <div class = "clearfix"></div>
                        <div class = "group-item">
                            <img src = "img/group.png">
                            <h4><a href = "#">Sample Group One</a></h4>
                            <p>This is a Dobble Social Network sample groups</p>
                        </div>
                        <div class = "clearfix"></div>
                        <div class = "group-item">
                            <img src = "img/group.png">
                            <h4><a href = "#">Sample Group One</a></h4>
                            <p>This is a Dobble Social Network sample groups</p>
                        </div>

                        <div class = "clearfix"></div>
                        <a class = "btn btn-primary" href = "#">View All Groups</a>

                      </div> <!-- ENDof panel-body -->
                    </div>

                  </div> <!-- ENDof Col-md-4 -->

              </div> <!--ENDof Row -->

          </div> <!--ENDof Container -->
      </section>

      <!-- Footer -->
      <% include ./partials/footer %>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <% include ./partials/scripts %>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    

  </body>
</html>
