<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ./partials/head %>
    </head>

    <body>

    <header>
        <% include ./partials/header %>
    </header>

    <% include ./partials/navbar %>

    <!-- <% include ./partials/searchDropdown %> -->

    <!-- Section -->
    <section>
        <div class = "container">
            <div class = "row">
                <div class = "col-md-8">
                    <div class="panel-heading"> <h3 class="panel-title">Newsfeed</h3></div>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <form>
                                <div class="form-group">
                                    <textarea type="text" id="postText" class="form-control"  placeholder="Write on the wall"></textarea>
                                </div>
                                <div style="display: inblock; width:20%; float:left;">
                                    <button type="submit" class="btn btn-success">Send</button>
                                </div>
                                <label for="privateCheckBox" class="btn btn-info btn-sm">Private<input type="checkbox" id="privateCheckBox" class="badgebox"><span class="badge">&check;</span></label>                
                                <div class = "pull-right">
                                    <label class="btn btn-primary" style="width: 100%;">
                                        Upload Images <input type="file" id="images" name="uploadImages" class="btn btn-primary" accept=".jpg, .jpeg, .png" multiple="multiple" hidden>
                                    </label>
                                    <div id="preview"></div>
                                </div>
                            </form>
                        </div>   
                    </div> <!-- ENDof panel panel-default -->  
                    <!-- Posts -->
                    <div id="postsPlaceHolder"></div>   <!-- Posts Placeholder -->
                    <button type="button" class="btn btn-primary btn-block" id="openPosts" style="display: none;">Open Next</button>  
                    <div id="postsPlaceHolderHidden" style="display: none;"> </div>   <!-- Hidden Posts Placeholder -->                     
                </div> <!-- ENDof Col-md-8 -->
                <div class = "col-md-4">
                    <div class="panel panel-default friends">
                        <div class="panel-heading">
                            <h3 class="panel-title">Friends</h3>
                        </div>
                        <div class="panel-body">
                            <ul id="friends-list">
                            </ul>
                            <div class = "clearfix"></div>
                        </div>
                    </div>
                </div> <!-- ENDof Col-md-4 -->
            </div> <!-- ENDof Row -->
        </div> <!--ENDof Container -->
    </section> <!--ENDof Selection -->

    <!-- Footer -->
    <% include ./partials/footer %>
        
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <% include ./partials/scripts %>
    <script src="js/index_cnt.js"></script>
    <script src="js/post_cnt.js"></script>

  </body>
</html>
