<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head %>
  </head>

  <body>

    <header>
      <% include ./partials/header %>
    </header>

    <% include ./partials/navbar %>

    <% include ./partials/searchDropdown %>

   <!-- Section -->
      <section>
          <div class = "container">
              <div class = "row">

                  <div class = "col-md-8">
                      <h1 class = "page-header">Photos</h1>
                      <ul class = "photos gallery-parent">
                      </ul>
                  </div> <!-- ENDof Col-md-8 -->

                   <div class = "col-md-4">

                    <div class="panel panel-default friends">
                      <div class="panel-heading">
                        <h3 class="panel-title">My Friends</h3>
                      </div>
                      <div class="panel-body">
                        <ul>
                            <li><a class = "thumbnail" href = "profile.html"><img src = "img/user.png"></a>
                            </li>
                             <li><a class = "thumbnail" href = "profile.html"><img src = "img/user.png"></a>
                            </li>
                             <li><a class = "thumbnail" href = "profile.html"><img src = "img/user.png"></a>
                            </li>
                             <li><a class = "thumbnail" href = "profile.html"><img src = "img/user.png"></a>
                            </li>
                             <li><a class = "thumbnail" href = "profile.html"><img src = "img/user.png"></a>
                            </li>
                             <li><a class = "thumbnail" href = "profile.html"><img src = "img/user.png"></a>
                            </li>
                             <li><a class = "thumbnail" href = "profile.html"><img src = "img/user.png"></a>
                            </li>
                             <li><a class = "thumbnail" href = "profile.html"><img src = "img/user.png"></a>
                            </li>
                        </ul>
                        <div class = "clearfix"></div>
                      </div>
                    </div>
                  </div> <!-- ENDof Col-md-4 -->

              </div> <!--ENDof Row -->
              <div class="row" style="margin-top: 10px;">
                    <div class="col-sm-2">
                        <label class="btn btn-primary add-image-label" style="width: 100%;">
                            Add Image <input type="file" class="add-image-input" accept=".jpg, .jpeg, .png" multiple="multiple" hidden>
                        </label>
                     </div>
                    <div class="col-sm-10">

                    </div>
              </div>
          </div> <!--ENDof Container -->
      </section>

    </br></br></br>
      <!-- Footer -->
      <% include ./partials/footer %>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <% include ./partials/scripts %>

    <!-- LightBox -->
    <script src="js/photos_cnt.js"></script>

  </body>
</html>
