<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head %>
  </head>

  <body>

    <header>
      <% include ./partials/header %>
    </header>

    <% include ./partials/navbar %>

    <% include ./partials/searchDropdown %>

   <!-- Section -->
      <section>
          <div class = "container">
              <div class = "row">

                  <div class = "col-md-8">
                      <h1 class = "page-header">Photos</h1>
                      <ul class = "photos gallery-parent">
                          <li><a href = "img/sample1.jpg" data-toggle = "lightbox" data-title = "Image 1" data-footer = "This is image 1" data-gallery = "mygallery" data-parent = ".gallery-parent" data-hover="tooltip" data-placement="top" title="This is image 1"><img src = "img/sample1.jpg" class = "img-thumbnail"></a></li>

                          <li><a href = "img/sample2.jpg" data-toggle = "lightbox" data-title = "Image 2" data-footer = "This is image 2" data-gallery = "mygallery" data-parent = ".gallery-parent" data-hover="tooltip" data-placement="top" title="This is image 2"><img src = "img/sample2.jpg" class = "img-thumbnail"></a></li>

                          <li><a href = "img/sample3.jpg" data-toggle = "lightbox" data-title = "Image 3" data-footer = "This is image 3" data-gallery = "mygallery" data-parent = ".gallery-parent" data-hover="tooltip" data-placement="top" title="This is image 3"><img src = "img/sample3.jpg" class = "img-thumbnail"></a></li>

                           <li><a href = "img/sample4.jpg" data-toggle = "lightbox" data-title = "Image 4" data-footer = "This is image 4" data-gallery = "mygallery" data-parent = ".gallery-parent" data-hover="tooltip" data-placement="top" title="This is image 4"><img src = "img/sample4.jpg" class = "img-thumbnail"></a></li>

                           <li><a href = "img/sample5.jpg" data-toggle = "lightbox" data-title = "Image 5" data-footer = "This is image 5" data-gallery = "mygallery" data-parent = ".gallery-parent" data-hover="tooltip" data-placement="top" title="This is image 5"><img src = "img/sample5.jpg" class = "img-thumbnail"></a></li>

                          <li><a href = "img/sample6.jpg" data-toggle = "lightbox" data-title = "Image 6" data-footer = "This is image 6" data-gallery = "mygallery" data-parent = ".gallery-parent" data-hover="tooltip" data-placement="top" title="This is image 6"><img src = "img/sample6.jpg" class = "img-thumbnail"></a></li>

                      </ul>
                  </div> <!-- ENDof Col-md-8 -->

                   <div class = "col-md-4">

                    <div class="panel panel-default friends">
                      <div class="panel-heading">
                        <h3 class="panel-title">My Friends</h3>
                      </div>
                      <div class="panel-body">
                        <ul>
                            <li><a class = "thumbnail" href = "profile.html"><img src = "img/user.png"></a>
                            </li>
                             <li><a class = "thumbnail" href = "profile.html"><img src = "img/user.png"></a>
                            </li>
                             <li><a class = "thumbnail" href = "profile.html"><img src = "img/user.png"></a>
                            </li>
                             <li><a class = "thumbnail" href = "profile.html"><img src = "img/user.png"></a>
                            </li>
                             <li><a class = "thumbnail" href = "profile.html"><img src = "img/user.png"></a>
                            </li>
                             <li><a class = "thumbnail" href = "profile.html"><img src = "img/user.png"></a>
                            </li>
                             <li><a class = "thumbnail" href = "profile.html"><img src = "img/user.png"></a>
                            </li>
                             <li><a class = "thumbnail" href = "profile.html"><img src = "img/user.png"></a>
                            </li>
                        </ul>
                        <div class = "clearfix"></div>

                        <a class = "btn btn-primary" href = "#">View All Friends</a>
                      </div>
                    </div>
                  </div> <!-- ENDof Col-md-4 -->

              </div> <!--ENDof Row -->

          </div> <!--ENDof Container -->
      </section>

      <!-- Footer -->
      <% include ./partials/footer %>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <% include ./partials/scripts %>

    <!-- LightBox -->
    <script src="js/libs/ekko-lightbox.js"></script>

    <!-- Implement LightBox -->
    <script>
        $(document).delegate('*[data-toggle="lightbox"]', 'click', function(event) {
            event.preventDefault();
            $(this).ekkoLightbox();
        });

        $(function () {
            $('[data-hover="tooltip"]').tooltip()
        })

    </script>

  </body>
</html>
