/* ---------- ALL ---------- */

[hidden] {
    display: none !important;
}

.ui-autocomplete {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    display: none;
    min-width: 160px;   
    padding: 4px 0;
    margin: 0 0 10px 25px;
    list-style: none;
    background-color: #ffffff;
    border-color: #ccc;
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    *border-right-width: 2px;
    *border-bottom-width: 2px;
}

.ui-helper-hidden-accessible{
    display:none !important;
}

.ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;
    text-decoration: none;
}

.ui-state-hover, .ui-state-active {
    color: #ffffff;
    text-decoration: none;
    background-color: #0088cc;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    background-image: none;
}

.users-search {
    margin: 5px;
}
.users-search input {
    width: 100%;
}

/*
Home
*/
header{
    background-image: linear-gradient(#04519b, #044687 60%, #033769);
    color: #fff;
    min-height: 100px;
    padding-top: 25px;
}

header form{
    float: right;
}

header .logo{
    float: left;
}

/* Backgrounds */
body {
    background: linear-gradient(#CAF1CE, white);
}
.panel {
    background: linear-gradient(#A0E0FA, white);
}
.img-thumbnail {
    background: linear-gradient(#C6E6F3, #D7F9DB);
}
.thumbnail {
    background: linear-gradient(#C6E6F3, #D7F9DB);
}
.post-txt .comment-txt {
    background: linear-gradient(#ECF4F8, #F1F6F1);
} 
.post-avatar {
    background: linear-gradient(#C6E6F3, #D7F9DB);
}
.navbar {
    background: linear-gradient(#C6E6F3, white);
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: large;
}
.footer {
    background: linear-gradient(#C6E6F3, white);
}

.panel-heading{
    background-image: linear-gradient(#04519b, #044687 60%, #033769);
    color: #fff !important; /* Overwrite */
}

.comment-avatar img{
    width:40px;
    margin-right: 5px;
}

.friends li{
    list-style: none;
    padding: 0 5px;
    display: inline;
    float: left;
}

.friends img{
    width: 55px;
}

.bubble{
    position: relative;
    width: 100%;
    min-height: 65px;
    padding: 15px;
    background: linear-gradient(#EBF7FC, #EDFBEE);
    border-radius: 10px;
    border: 1px solid #ccc;
    word-wrap: break-word;
}

.imagesHolder{
    display: -webkit-flex; /* Safari */
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    display: flex;
    flex-wrap: wrap;
    padding: 10px 5px 5px 5px;
}

.bubble:after{
    content:"";
    position: absolute;
    border-style: solid;
    border-width: 15px 15px 15px 0;
    border-color: transparent #F0FBEB;
    display: block;
    width: 0;
    z-index: 1;
    margin-top: -15px;
    left: -15px;
    top: 50%;
}

.bubble:before{
    content:"";
    position: absolute;
    border-style: solid;
    border-width: 15px 15px 15px 0;
    border-color: transparent #ccc;
    display: block;
    width: 0;
    z-index: 0;
    margin-top: -15px;
    left: -16px;
    top: 50%;
}

.post-actions{
    margin: 5px;
}

.comment-form .form-group{
    width: 90%;
}

.comment-form input[type='text']{
    width: 100%;
}

.comment{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 3px;
    margin: 5px 0;
    overflow: auto;
    width: 100%;
}

.groups img{
    width: 80px;
    float: left;
    margin-right: 15px;
}

.group-item{
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    overflow: auto;
}

footer{
    background: #f4f4f4;
    height: 90px;
    color: #04519b;
    font-weight: bold;
    text-align: center;
    padding-top: 40px;
    margin-top: 30px;
    border-top: 7px solid #04519b;
}


/*

Friends

*/
.members .member-row{
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.members img{
    margin-bottom: 5px;
}


/* Above 991px */
@media(min-width: 991px){
    .members p{
        padding-top: 40px;
    }
}


/*

Profile

*/
.profile ul{
    margin-top: 30px;
}

.profile li{
    list-style: none;
    line-height: 1.9em;
}


/*

Photos

*/
.photos{
    margin: 0;
    padding: 0;
}

.photos li{
    list-style: none;
    float: left;
    margin: 5px;
    width: 23%;
}

.photos img{
    width: 100%;
}

.btn-block {
    height: 30px !important;
    }

.postCreatedDate {
    color: #128C69;
    font-size: 14px;
    font-family: Arial;
}

/* Hiding the checkbox, but allowing it to be focused */
.badgebox
{
    opacity: 0;
}

.badgebox + .badge
{
    /* Move the check mark away when unchecked */
    text-indent: -999999px;
    /* Makes the badge's width stay the same checked and unchecked */
	width: 27px;
}

.badgebox:focus + .badge
{
    /* Set something to make the badge looks focused */
    /* This really depends on the application, in my case it was: */
    
    /* Adding a light border */
    box-shadow: inset 0px 0px 5px;
    /* Taking the difference out of the padding */
}

.badgebox:checked + .badge
{
    /* Move the check mark back when checked */
	text-indent: 0;
}
.btn-delete {
    padding: 5px 25px 5px 5px;
}